.Card {
	display: flex !important;
	justify-content: center;
	align-items: center;
	width: 330px;
	height: 330px;
	margin: 15px;
	background: rgb(255, 255, 255);
	box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.062);
	overflow: hidden;
	border-radius: 40px;
	flex-grow: 1;
	animation: 1s size ease-in-out infinite;
	transition: 0.2s ease all;
}
.Card-image {
	transition: 0.2s ease all;
}
.Card-image:hover {
	transform: scale(1.2);
}
.Card:hover {
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

@keyframes size {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.05);
	}
	10% {
		transform: scale(1);
	}
}
